  <!-- CONTENTFUL -->
<!DOCTYPE html>
<html ng-app="app">
<head>
<title></title>
<meta charset="utf-8">
<script type="text/javascript" src="/scripts/angular.min.js"></script>
<script type="text/javascript" src="/scripts/app.js"></script>
<script type="text/javascript" src="/scripts/contentfulController.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

<section ng-controller="contentfulController as contCtrl"> 

{{contCtrl.content.nombre}}

{{contCtrl.content.apellidos}}

</section>

</body>

</html>
