<!DOCTYPE html>
<html ng-app="drago-app">
<head>
  <% include ../partials/header.ejs %>
   <script src="/scripts/controllers/dbController.js" type="text/javascript"></script>
</head>

<body ng-controller="dbController as db">

  <% include ../partials/nav.ejs %>

<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Conexion a la base de datos, SELECT, INSERT y DELETE
  </div>
  <hr>
  
</div>


</body>
</html>
